/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

### Laravel Mix ##########################
/public/css/app.css
/public/js/app.js
/public/js/manifest.js
/public/js/vendor.js
/public/mix-manifest.json

### phpunit test 用 ##########################
config/database.php.test