/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

### Laravel Mix ##########################
src/public/css/app.css
src/public/js/app.js
src/public/js/manifest.js
src/public/js/vendor.js
src/public/mix-manifest.json